################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/.cache
/out
/build
CMakeSettings.json
*.user
Testing/*